
body {
    font-family: inter;
    color: white;
    background-color: #7867DF;
    margin: 0;
}


.menu-bar,
.page-links,
.links-list,
.card-container,
.project-card,
.banner, 
.contact-section,
.font-container-contact {
    display: flex;
}

.menu-bar,
.page-links,
.links-list,
.card-container {
    flex-direction: row;
}

.project-card,
.contact-section,
.font-container-contact {
    flex-direction: column;
}

.menu-bar,
.links-list {
    width: 100%;
}

.menu-bar {
    justify-content: space-between;
    background-color: #4f40ad;
    color: white;
    height: 80px;
}

.page-links {
    width: 20%;
    padding: 30px 0px 20px 0px;
}

.links-list {
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.menu-name {
    width: 16%;
}

.menu-btn {
    padding: 25px 45px 0px 0px;
}

.banner {
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.banner-msg,
.font-container-contact {
    position: absolute;
    z-index: 9;
}

.banner-msg {
    top: 155px;
}

.banner-img,
.contact-section img {
    position: relative;
    width: 35%;
}

.banner-img {
    left: -350px;
}

.nav-link a {
    color: white;
    text-decoration: none;
}


#name {
    font-size: 24px;
    margin: auto;
    padding: 25px 0px 20px 0px;
}

#contact-btn {
    color: white;
    background-color: black;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
}

.projects-title {
    margin-left: 125px;
}

.card-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    width: 40%;
    height: 60vh;
    margin: 30px 15px 0px 15px;
}

.card-img-box,
.font-container {
    width: 90%;
}    

.card-img-box {
    height: 45vh;
    background-color: #4001D2;
    border-radius: 25px 25px 25px 0;
}

.font-container a {
    color: #000000;
    text-decoration: none;
}

.font-container-contact {
    align-items: center;
    margin-left: 335px;
}

.font-container-contact h2 {
    font-size: 48px;
}

.font-container-contact p {
    font-size: 24px;
}

.font-container-contact a {
    color: #ffffff;
}

.contact-section {
    justify-content: center;
}

.contact-section img {
    margin-left: 820px;
}